:root {
    --padding: 10px;
    --border-width: 5px;
}

html {
    margin: 0;
    height: 100%;
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    
    white-space: nowrap;
}

.tab1 {
    margin-left: 40px;
}
.number-selector {
    width: 40px;
}
.example {
    input-security: none;
}
.preview {
    margin-left: 20%;
    color: rgb(80, 80, 80);
}

.poi {
    display: inline-block;
    margin-top: var(--padding);
    margin-left: var(--padding);
    border-width: var(--border-width);
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    
    height: calc(100% - 2 * var(--padding) - 2 * var(--border-width));
    width: calc(25vw - var(--padding) * (1 + 1/4) - 2 * var(--border-width));
    background-color: darkgray;

    white-space: normal;

    overflow-y: auto;
}

.section {
    --border-width: 3px;
    margin-top: var(--padding);
    width: calc(100% - 2 * var(--padding) - 2 * var(--border-width));
    margin-left: var(--padding);
    border-radius: 3px;
    
    border-width: var(--border-width);
    border-style: dashed; 
    border-color: black;
    height: "10px";
}

.section:last-child {
    margin-bottom: var(--padding);
}

.section h1 {
    margin: 0px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
}

.input_field_holder {
    height: fit-content;
    padding: 3px;
}

.input_field_holder.even {
    background-color: gray;
}

.input_field_holder.odd {
    background-color: ;
}

h1{
    text-align: center;
}

text{
    color: white;
    width: 100%;
    align-items: center;
}

.input_field_holder input {
    position: relative;
    align-items: center;
    color: black;
    background-color: rgb(224, 224, 224);
    border: 2px solid black;
    width: 50%;
    margin-left: 10px;
}

.input_field_holder select {
    margin-left: 10px;
}

.input_field_name {
    margin-left: 10px;
}
